* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.menu-principal {
    margin: 24px 34px 84px 34px;

}

.links {
    color: #17233D;
    font-size: 20px;
    text-decoration: none;
    margin: 23px 32px 0 32px;
}

.links:hover {
    color: #4CB538;
    font-weight: 600;
}

.btn-header {
    background-color: #4CB538;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 24px;
    right: 84px;
}

.btn-header:hover {
    background-color: #3DA430;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin: 40px 35px 80px;

}

.textos {
    max-width: 445px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}

img {
    width: 585px;
    height: 500px;
}

h1 {
    font-size: 50px;
    color: #161A49;
    font-weight: 600;
    line-height: 56px;
}

p {
    font-size: 20px;
    color: #4B505A;
    line-height: 30px;
}

.link-more {
    text-decoration: none;
    color: #4CB538;
    font-size: 20px;
    font-weight: 500;
}